<html>
  <head>
    <title>An error has occured</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <header>
      <div class="jumbotron d-none d-sm-block"></div>
      <%- include('../views/layout/partials/navigation') %>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="error-template">
            <h1>
              Oops!
            </h1>
            <h2>
              <%=status%>
            </h2>
            <div class="error-details">
              <%=message %>
            </div>
            <div class="error-actions">
              <a href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg"
                ><span class="glyphicon glyphicon-home"></span> Take Me Home </a
              ><a href="http://www.jquery2dotnet.com" class="btn btn-default btn-lg"
                ><span class="glyphicon glyphicon-envelope"></span> Contact Support
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <%- include('../views/extras/Markus-credit') %>
    </footer>
    <%- include('../views/layout/partials/scripts') %>
  </body>
</html>
